<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formattedLog">
      <h2 data-cy="formattedLogDetailsHeading"><span jhiTranslate="logManagerApp.formattedLog.detail.title">Formatted Log</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ formattedLog.id }}</span>
        </dd>
        <dt><span jhiTranslate="logManagerApp.formattedLog.hostname">Hostname</span></dt>
        <dd>
          <span>{{ formattedLog.hostname }}</span>
        </dd>
        <dt><span jhiTranslate="logManagerApp.formattedLog.startDate">Start Date</span></dt>
        <dd>
          <span>{{ formattedLog.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="logManagerApp.formattedLog.endDate">End Date</span></dt>
        <dd>
          <span>{{ formattedLog.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="logManagerApp.formattedLog.startHour">Start Hour</span></dt>
        <dd>
          <span>{{ formattedLog.startHour | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="logManagerApp.formattedLog.endHour">End Hour</span></dt>
        <dd>
          <span>{{ formattedLog.endHour | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/formatted-log', formattedLog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
