<form *ngIf="formattedLog" name="deleteForm" (ngSubmit)="confirmDelete(formattedLog.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="formattedLogDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirme a exclusão</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-formattedLog-heading"
      jhiTranslate="logManagerApp.formattedLog.delete.question"
      [translateValues]="{ id: formattedLog.id }"
    >
      Tem certeza de que deseja excluir Formatted Log {{ formattedLog.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>
  </div>
</form>
